/* Adds spacing between each slide in the carousel */
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* .carousel{
  padding: 5rem;
  background-color: #fafafa;
  height: 100%;
  width: 100vw;
}
#box{
  
   box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
   margin-bottom: 10px;
 
} */

/* .slick-slide div{
  margin: 0 24px !important;
}

.slick-dots li button:before {
/* margin-top:  87px; 
color: #741906 !important;
font-size: 1rem !important;
}

.slick-prev:before, .slick-next:before {
color:#741906 !important;
background-color: transparent !important;

} */
/* 
.slick-prev, .slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-prev {
  
  left: 30px !important;
}

.slick-next {
  right: 30px !important;
}
.slick-next::before{
height: vh !important;
width: vw !important;
background-color: bisque !important;
} */

/* 
/ */


.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #741906;
}
