@tailwind base;
@tailwind components;
@tailwind utilities;

/* /* 
primery- #741906
secondory- #12273d
*/
/* @layer base {
  * {
    padding: 0;
    margin: 0;
  }
  .slick-slide>div {
    margin: 10px;
  
    
  }
} */ 

